html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: #e5e5e5;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-edit {
    padding-top: 20px;
    padding-right: 30px;
}